<%= form_with(model: namespace) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>

    <% if namespace.errors[:name].present? %>
      <% namespace.errors[:name].each do |error| %>
        <p class="error-text"><%= error %></p>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.label :action_quota, style: "display: block" %>
    <%= form.text_field :action_quota %>

    <% if namespace.errors[:action_quota].present? %>
      <% namespace.errors[:action_quota].each do |error| %>
        <p class="error-text"><%= error %></p>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
