<p class="notice"><%= notice %></p>

<div class="link">
  <%= link_to "Back to namespaces", namespaces_path %>
  <%= link_to "Edit this namespace", edit_namespace_path(@namespace) %>
</div>

<h1>Tallies in namespace <span class="highlight"><%= @namespace.name %></span></h1>

<%= render "namespaces/tallies", namespace: @namespace %>

<%= button_to "destroy this namespace", @namespace, method: :delete, class: "destroy" %>
